@import './../../../constants';

.number {
    border-radius: 100%;
    background-color: $primaryColor_bright;
    padding: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    color: white;
}

.process-explaination {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
    div {
        margin-left: 32px;
    }
}