:host {
  header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 48px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

    img {
      width: 160px;
    }

    nav {
      display: flex;
      align-items: center;

    }

  }
}

@media (max-width: 450px){
  :host{
    header{
      flex-direction: column;
      height: unset;
      nav a{
        margin-left: 0;
      }
    }
  }
}
