@import "./../../constants";

header {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px !important;
  padding-bottom: 8px !important;

  nav {
    display: flex;
    align-items: center;
    a {
      margin-left: 24px;
    }
  }

  img {
    width: 200px;
  }
}

@media (max-width: $smallScreen) {
  header {
    display: flex;
    justify-content: center !important;
  }
}

@media (max-width: $verySmallScreen) {
  header {
    img {
      width: 150px !important;
    }
  }
}