<div class="footer padding-left-right">
    <div class="footer-container">
        <span>Quick Links</span>

        <a routerLink="unser-team" title="jobs">Unser Team</a>
        <a routerLink="karriere" title="jobs">Karriere</a>
        <a href="https://weiterbildung.developerakademie.com/termin" title="jobs">Kostenlose Beratung</a>
        <a href="https://weiterbildung.developerakademie.com" title="jobs">Web Developer Programm</a>

        <img src="./assets/img/logo_text_white.png">
    </div>


    <div class="footer-container">
        <span>Adresse</span>

        <span class="footer-text">Lilienstraße 3,<br>
        81669 München</span>
    </div>


    <div class="footer-container footer-container-last">
        <span>Rechtliches</span>

        <a routerLink="data-protection">Datenschutz</a>
        <a routerLink="widerruf">Widerrufsrecht</a>
        <a routerLink="agb">AGB</a>
        <a routerLink="cookies">Cookie-Richtlinie</a>
        <a routerLink="legal">Impressum</a>
    </div>

    <div class="footer-container hidden">
        <span>Social Media</span>

        <a routerLink="legal">Facebook</a>
        <a routerLink="data-protection">YouTube</a>
        <a routerLink="cookies">TikTok</a>
    </div>
</div>
<div class="footer-copyright">
    © {{ year }} Developer Akademie. Alle Rechte vorbehalten.
</div>