.footer {
  background-color: #192D35;
  min-height: 300px;
  color: white;
  display: flex;
}

.footer-container {
  padding-top: 32px;
  margin-right: 64px;
  display: flex;
  flex-direction: column;

  img {
    width: 140px;
    margin-top: auto;
    margin-bottom: 48px;
  }

  span {
    font-size: 20px;
    margin-bottom: 32px;
    text-transform: uppercase;
  }

  a {
    color: white;
    text-decoration: none;
    margin-bottom: 16px;
    font-size: 14px;

    &:hover {
      color: #D8D8D8;
    }
  }
}

.footer-text {
  text-transform: unset !important;
  font-size: 14px !important;
}

.footer-container-last {
  margin-left: auto !important;
  margin-right: 0 !important;
}


.footer-copyright {
  background-color: #192D35;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  min-height: 64px;
}
