<div class="footer padding-left-right">
    <div class="footer-container">
        <span class="headLineText">Quick Links</span>

        <a class="bodyText" routerLink="unser-team" title="jobs">Unser Team</a>
        <a class="bodyText" routerLink="karriere" title="jobs">Karriere</a>
        <a class="bodyText" href="https://weiterbildung.developerakademie.com/termin" title="jobs">Kostenlose Beratung</a>
        <a class="bodyText" href="https://weiterbildung.developerakademie.com" title="jobs">Web Developer Programm</a>

        <img src="./assets/img/logo_text_white.png">
    </div>


    <div class="footer-container">
        <span class="headLineText">Adresse</span>

        <span class="footer-text bodyText">Lilienstraße 3,<br>
            81669 München</span>
    </div>

    <div class="footer-container">
        <!-- TrustBox widget - Micro TrustScore -->
        <div class="trustpilot-widget tpw-footer" data-locale="de-DE" data-template-id="5419b637fa0340045cd0c936"
            data-businessunit-id="5e9825574f392a0001029067" data-style-height="60px" data-style-width="100%"
            data-theme="dark" data-text-color="#FFFFFF">
            <a class="headLineText" href="https://de.trustpilot.com/review/developerakademie.com" target="_blank"
                rel="noopener">Trustpilot</a>
        </div>
        <!-- End TrustBox widget -->
    </div>


    <div class="footer-container footer-container-last">
        <span class="headLineText">Rechtliches</span>

        <a class="bodyText" routerLink="data-protection">Datenschutz</a>
        <a class="bodyText" routerLink="widerruf">Widerrufsrecht</a>
        <a class="bodyText" routerLink="agb">AGB</a>
        <a class="bodyText" routerLink="cookie">Cookie-Richtlinie</a>
        <a class="bodyText" routerLink="imprint">Impressum</a>
    </div>

    <div class="footer-container hidden">
        <span class="headLineText">Social Media</span>

        <a class="bodyText" routerLink="legal">Facebook</a>
        <a class="bodyText" routerLink="data-protection">YouTube</a>
        <a class="bodyText" routerLink="cookies">TikTok</a>
    </div>
</div>
<div class="footer-copyright headLineText">
    © {{ year }} Developer Akademie. Alle Rechte vorbehalten.
</div>