@import './../../../constants';

.head-section {
    padding-top: 80px;
    padding-bottom: 8px;
    display: flex;
}

.head-left {
    width: 60%;
}

.btn-outline {
    display: inline-block;
}

// .btn{
//     width: fit-content;
// }

.head-right {
    width: 40%;
    img {
        width: 150%;
    }
}

.landing-p {
    padding-right: 80px;
    @media (max-width: $smallScreen) {
        padding-right: 0;
    }
}

.tp-tuev-container {
    display: flex;
    align-items: center;
    .tpw-top {
        width: fit-content;
        max-width: 190px;
    }

    .tuev {
        max-width: 150px;
        max-height: 120px;
        object-fit: contain;
        margin: auto;
        margin-left: 50px !important;
    }

    @media (max-width: $smallScreen) {
        justify-content: center;
        .tpw-top {
            width: unset;
            margin-left: auto;
        }
    }

    @media (max-width: $verySmallScreen) {
        .tpw-top {
            width: 50%;
            height: 108px;
        }

        .tuev{
            margin-left: auto !important;
            width: 50%;
            height: 108px;
        }
    }
}

.round-row {
    background-image: url('./../../../assets/img/green_part.png');
    background-size: 130% 100%;
    height: 200px;
    background-position: top;
    display: flex;
    justify-content: space-evenly;
    .round-row-step {
        display: flex;
        flex-direction: column;
        width: 200px;
        text-align: center;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 18px;
        
        img {
            width: 60px;
        }
        span {
            margin-top: 8px;
            font-weight: 700 !important;
            color: rgba(142, 152, 156) !important;
        }
    }
}

@media (max-width: $smallScreen) {
    .head-left {
        width: 100%;
    }
    .head-right {
        display: none;
    }
    .round-row {
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        height: unset !important;
        background-size: 200% 100% !important;
    }
}

@media (max-width: $verySmallScreen){
    .head-section{
        padding-top: 100px;
    }
}