<app-section>
    <div class="head-section">

        <div class="head-left">
            <h1>Professionelle Online-<br> Weiterbildungen für die <span class="highlight-red">IT-Branche</span></h1>

            <p class="remove-paragraph-margin">
                Wir helfen dir dabei, eine Karriere in der IT zu starten. Unabhängig davon, was du bisher gemacht hast. Mit intensiven Online-Weiterbildungen im Bereich IT & Programmieren nach deinem Zeitplan - 100% made in Germany.

            </p>

            <div class="margin-top-16">
                <a href="https://de.trustpilot.com/review/developerakademie.com" target="_blank">
                    <img class="trustpilot-image" src="./assets/img/trustpilot34.jpeg">
                </a>
            </div>


            <div class="margin-top-16">
                <a class="btn-outline" target="blank" href="https://weiterbildung.developerakademie.com">Weiterbildung
        Web-Programmierer</a>
            </div>
        </div>

        <div class="head-right">
            <img src="assets/img/team2-min.png">
        </div>
    </div>
</app-section>


<div class="round-row">

    <div class="round-row-step">
        <img src="./assets/img/icons_top/1.png">
        <span>Erfahrene Programmierer als Mentoren</span>
    </div>
    <div class="round-row-step">
        <img src="./assets/img/icons_top/2.png">
        <span>Lerne anhand von praxisnahen Projekten</span>
    </div>
    <div class="round-row-step">
        <img src="./assets/img/icons_top/3.png">
        <span>Kostenlose & unverbindliche<br> Beratung</span>
    </div>
</div>