<app-section>
    <div class="head-section">

        <div class="head-left">
            <h1>Professionelle Online-<br> Weiterbildungen für die <span class="highlight-red">IT-Branche</span></h1>

            <p class="remove-paragraph-margin">
                Wir helfen dir dabei, eine Karriere in der IT zu starten. Unabhängig davon, was du bisher gemacht hast.
                Mit intensiven Online-Weiterbildungen im Bereich IT & Programmieren nach deinem Zeitplan - 100% made in
                Germany.

            </p>

            <!-- <div class="margin-top-16">
                <a href="https://de.trustpilot.com/review/developerakademie.com" target="_blank">
                    <img class="trustpilot-image" src="./assets/img/trustpilot34.jpeg">
                </a>
            </div> -->

            <div class="tp-tuev-container">
                <!-- TrustBox widget - Mini -->
                <div class="trustpilot-widget tpw-top" data-locale="de-DE" data-template-id="53aa8807dec7e10d38f59f32"
                    data-businessunit-id="5e9825574f392a0001029067" data-style-height="120px" data-style-width="100%"
                    data-theme="light" data-text-color="#050505">
                    <a href="https://de.trustpilot.com/review/developerakademie.com" target="_blank"
                        rel="noopener">Trustpilot</a>
                </div>
                <!-- End TrustBox widget -->

                <img class="tuev" src="./assets/img/TR-Testmark_9000012503_DE_CMYK_without-QR-Code.png" alt="">
            </div>






            <div class="margin-top-16">
                <a *ngIf="!windowSize.maxWidth(450)" class="btn-outline" target="blank" href="https://weiterbildung.developerakademie.com">Weiterbildung
                    Web-Programmierer</a>
                <a *ngIf="windowSize.maxWidth(450)" href="https://weiterbildung.developerakademie.com/termin" class="btn">Bewerben</a>
            </div>
        </div>

        <div class="head-right">
            <img src="./assets/img/03_Photo_2.png">
        </div>
    </div>
</app-section>


<div class="round-row">

    <div class="round-row-step">
        <img src="./assets/img/icons_top/1.png">
        <span>Erfahrene Programmierer als Mentoren</span>
    </div>
    <div class="round-row-step">
        <img src="./assets/img/icons_top/2.png">
        <span>Lerne anhand von praxisnahen Projekten</span>
    </div>
    <div class="round-row-step">
        <img src="./assets/img/icons_top/3.png">
        <span>Kostenlose & unverbindliche<br> Beratung</span>
    </div>
</div>