<app-head-section>

</app-head-section>


<app-section [graybg]="true" headline="Dein Lehrplan">
    <div class="study-section">
        <div class="study-element"><img src="./assets/icons/html.png">HTML</div>
        <div class="study-element"><img src="./assets/icons/css.png">CSS</div>
        <div class="study-element"><img src="./assets/icons/js.png">JavaScript</div>
        <div class="study-element"><img src="./assets/icons/angular.png">Angular</div>
        <div class="study-element"><img src="./assets/icons/git.png">Git</div>
        <div class="study-element"><img src="./assets/icons/scrum.png">SCRUM</div>
        <div class="study-element"><img src="./assets/icons/app.png">Apps</div>
        <div class="study-element"><img src="./assets/icons/business.png">Business Software</div>
        <div class="study-element"><img src="./assets/icons/job.png">Einstieg in IT-Job</div>

    </div>

    <div class="study-section-button">
        <a class="btn-outline hide-mobile" (click)="scrollTo('testimonials')">Teilnehmerstimmen</a>
    </div>
</app-section>

<app-section [centerHeadlineMobile]="true" headline="In 3 bis 6 Monaten zum Software-Entwickler">
    <div class="h-center hide-desktop margin-bottom-40 center-mobile">
        <img src="./assets/img/process1.png" class="width-60">
    </div>
    <div class="columns-2">
        <div>
            <app-process-step headline="Teilnehmerauswahl">
                Da wir mit unseren Kursteilnehmern intensiv zusammenarbeiten, fließt viel Arbeit in die Beratung und Auswahl der richtigen Teilnehmer. Klare Ziele, mindestens 10 Stunden pro Woche und Interesse an IT und Programmieren sind Grundvoraussetzungen.
            </app-process-step>

            <app-process-step headline="Web Entwicklung">
                Du erlernst wie das Internet funktioniert und baust innerhalb weniger Tage bis Wochen professionelle Webseiten. Dabei lernst du auch grundlegende Prinzipien der Softwareentwicklung.
            </app-process-step>

            <app-process-step headline="Programme & Software">
                In praxisnaher Ausbildung baust du immer komplexere Softwareprojekte. Du lernst Programmiersprachen & Tools mit denen du ganze Software und Softwarebausteine selber entwickeln kannst.
            </app-process-step>
        </div>

        <div class="hide-mobile">
            <img src="./assets/img/process1.png" class="width-60">
        </div>
    </div>

    <div class="h-center hide-desktop margin-bottom-40 center-mobile">
        <img src="./assets/img/process2.png" class="width-60">
    </div>

    <div class="columns-2">
        <div class="hide-mobile">
            <img src="./assets/img/process2.png" class="width-60">
        </div>
        <div>
            <app-process-step headline="Portfolio mit deinen Praxisprojekten">
                Die gesamte Weiterbildung erfolgt praxisnah. Du erstellst immer wieder Programme, Spiele und komplexe Software alleine und zusammen in Gruppen mit Teilnehmern aus ganz Deutschland und Österreich. Deine Ergebnisse sind sehr gute Programmierkenntnisse und
                ein Portfolio an hochwertigen Projekten, die Arbeitgeber von deinen neuen Fähigkeiten überzeugen.

            </app-process-step>

            <app-process-step headline="Einstieg in deinen IT-Job">
                Durch ein gezieltes Bewerbertraining und mit unserer Unterstützung begleiten wir unsere Teilnehmer bei dem Einstieg in ihren ersten IT Job.
            </app-process-step>
        </div>

    </div>
</app-section>


<app-section class="hide-mobile" [graybg]="true" headline="" [padding]="true">
    <a class="anchor" id="testimonials"></a>
    <app-testimonial-slider></app-testimonial-slider>
</app-section>


<app-section [alignLeft]="true" headline="Deine Programmier-Coaches sind immer für dich da" [padding]="true">
    <div class="columns-2">
        <div>
            <p class="text-gray remove-paragraph-margin">Lerne die wichtigste Fähigkeit für die Zukunft: Programmieren. Egal ob du noch nie eine Zeile Code geschrieben hast, oder schon etwas Erfahrung hast: wir bringen dich auf ein Niveau, das die Basis für deine gesamte IT-Karriere darstellt.</p>
        </div>
    </div>

    <div class="columns-2 margin-top-16">
        <div class="v-center">
            <ul>
                <li>
                    <app-checkmark>Lerne wann du willst und von wo du willst</app-checkmark>
                </li>
                <li>
                    <app-checkmark>Baue mit uns von Tag 1 an deine eigenen Projekte</app-checkmark>
                </li>
                <li>
                    <app-checkmark>Beherrsche Programmieren und sei bereit für die Karriere der Zukunft</app-checkmark>
                </li>
                <li>
                    <app-checkmark>24/7 Betreuung durch deine Ansprechpartner</app-checkmark>
                </li>
                <li>
                    <app-checkmark>Profitiere von einer systematischen Vorbereitung auf den Arbeitsmarkt</app-checkmark>
                </li>
            </ul>
        </div>
        <div class="columns-2-image-container hide-mobile">
            <img src="./assets/img/coach.png">
        </div>
    </div>
</app-section>


<app-section [graybg]="true" headline="So schaffst du den Einstieg in den ersten IT-Job" [padding]="true">
    <div class="space-between">
        <app-card img="certificate.png" title="Bescheinigung & Zeugnis">
            <p>Nach Abschluss der Weiterbildung erhältst du Bescheinigung & Zeugnis, die deine neu gewonnen Fähigkeiten dokumentieren.
            </p>
        </app-card>

        <app-card img="team_stock.png" title="IT-Karriere als dein Ziel">
            <p>Das Programm ist so aufgebaut, dass du von Anfang an die Fähigkeiten erlernst, mit denen du am schnellsten den Sprung in eine IT-Karriere schaffst - gerade als Quereinsteiger.</p>
        </app-card>

        <app-card img="portfolio.png" title="Baue dein Portfolio">
            <p>Projekte aus der Praxis beweisen deine neu erworbenen Fähigkeiten und Programmierkenntnisse und sind für jeden Arbeitgeber essentiell.</p>
        </app-card>
    </div>
</app-section>


<app-section class="hide-mobile" headline="" [padding]="true">
    <app-statistics></app-statistics>
</app-section>