<app-section [graybg]="true" headline="Was lernst du?">
  <div class="study-section">
    <div class="study-element">HTML</div>
    <div class="study-element">JavaScript</div>
    <div class="study-element">Websites</div>
    <div class="study-element">Apps</div>
    <div class="study-element">Git</div>
    <div class="study-element">SCRUM</div>
  </div>

  <div class="study-section-button">
    <a class="btn-outline">Kursübersicht</a>
  </div>
</app-section>

<app-section headline="Bewährter Prozess">
  <div class="columns-2">
    <div>
      <app-process-step headline="Web Development">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam exercitationem veniam ullam corrupti quos
        eligendi, sed dicta consectetur vitae delectus vel libero. Veniam voluptatibus porro ratione eum, doloribus esse
        soluta.
      </app-process-step>

      <app-process-step headline="Programming logic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam exercitationem veniam ullam corrupti quos
        eligendi, sed dicta consectetur vitae delectus vel libero. Veniam voluptatibus porro ratione eum, doloribus esse
        soluta.
      </app-process-step>

      <app-process-step headline="Programming logic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam exercitationem veniam ullam corrupti quos
        eligendi, sed dicta consectetur vitae delectus vel libero. Veniam voluptatibus porro ratione eum, doloribus esse
        soluta.
      </app-process-step>
    </div>

    <div>
      FOTO
    </div>
  </div>

  <div class="columns-2">
    <div>FOTO</div>
    <div>
      <app-process-step headline="Programming logic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam exercitationem veniam ullam corrupti quos
        eligendi, sed dicta consectetur vitae delectus vel libero. Veniam voluptatibus porro ratione eum, doloribus esse
        soluta.
      </app-process-step>

      <app-process-step headline="Programming logic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam exercitationem veniam ullam corrupti quos
        eligendi, sed dicta consectetur vitae delectus vel libero. Veniam voluptatibus porro ratione eum, doloribus esse
        soluta.
      </app-process-step>

      <app-process-step headline="Programming logic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam exercitationem veniam ullam corrupti quos
        eligendi, sed dicta consectetur vitae delectus vel libero. Veniam voluptatibus porro ratione eum, doloribus esse
        soluta.
      </app-process-step>
    </div>

  </div>
</app-section>


<app-section [graybg]="true" headline="" [padding]="true">
  <app-testimonial-slider></app-testimonial-slider>
</app-section>
