.study-element {
    border-radius: 4px;
    background-color: white;
    width: 300px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    // font-weight: 600;
    box-shadow: 0px 2px 4px rgba(211, 206, 206, 0.5);
    position: relative;
    @media (min-width: 1200px) {
        flex-basis: 30.00%
    }
    img {
        width: 24px;
        position: absolute;
        left: 16px;
    }
}

.aot-section {
    margin-top: 80px;
    height: calc(85vh - 80px);
    h1 {
        margin-bottom: 0;
        margin-top: 0;
    }
    .atf-content {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
        padding-top: 32px;
        align-items: flex-start;
        @media(max-width: 1600px) {
            p {
                width: 80%;
            }
        }
        @media(max-width: 1350px) {
            p {
                width: 60%;
            }
        }
        @media(max-width: 850px) {
            width: 100%;
        }
    }
    .trustpilot-image {
        width: 15vw;
        @media(max-width: 850px) {
            width: 40vw;
        }
        &:hover {
            filter: contrast(1.3);
        }
    }
    .aot-team-image {
        position: absolute;
        right: 0;
        top: 15vh;
        height: 60vh;
        @media(max-width: 1030px) {
            flex-direction: column;
            align-items: center;
            height: 50vh;
        }
        @media(max-width: 1300px) {
            height: 40vh;
        }
        @media(max-width: 950px) {
            height: 40vh;
        }
        @media(max-width: 850px) {
            display: none;
        }
    }
}

.study-section {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 64px;
    justify-content: center;
}

.study-section-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
}

.columns-2-image-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tp-widget-wrapper {
    color: red;
}

.trustpilot-widget iframe {
    position: absolute;
    top: 0;
    right: 0;
}