<div class="second-row">
  <img class="green-part" src="./assets/img/green_part.png">

  <div class="seond-row-step">
    <img src="./assets/img/icons_top/1.png">
    <span>Erfahrene Programmierer als Mentoren</span>
  </div>
  <div class="seond-row-step">
    <img src="./assets/img/icons_top/2.png">
    <span>Lerne anhand von praxisnahen Projekten</span>
  </div>
  <div class="seond-row-step">
    <img src="./assets/img/icons_top/3.png">
    <span>Kostenlose & unverbindliche<br> Beratung</span>
  </div>
</div>
