<app-section [graybg]="true" headline="Unser Team">
    <div class="space-around">
      <app-card height="200px" class="coworker-card" img="JunusErgin.jpg" title="Junus">
          <h3>Co-Founder & Tech-Coach</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde amet alias facilis iure iste sapiente quidem similique delectus, optio ratione.</p>
        </app-card>
  
      <app-card height="200px" class="coworker-card" img="ManuelThaler.jpg" title="Manuel">
        <h3>Co-Founder & Karriere-Coach</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde amet alias facilis iure iste sapiente quidem similique delectus, optio ratione.</p>
      </app-card>
    </div>
  
    <div class="space-between">
      <app-card height="200px" class="coworker-card" img="mitarbeiterin.png" title="Jessi">
        <h3>Werkstudent</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde amet alias facilis iure iste sapiente quidem similique delectus, optio ratione.</p>
      </app-card>
  
      <app-card height="200px" class="coworker-card" img="mitarbeiterin.png" title="Kay">
        <h3>Video Cutter</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde amet alias facilis iure iste sapiente quidem similique delectus, optio ratione.</p>
      </app-card>
  
      <app-card height="200px" class="coworker-card" img="mitarbeiterin.png" title="Name">
        <h3>Web Developer & Junior Coach</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde amet alias facilis iure iste sapiente quidem similique delectus, optio ratione.</p>
      </app-card>
  
    </div>
  
    <div class="space-between">
      <app-card height="200px" class="coworker-card" img="Pimpajee.jpg" title="Pimpajee">
        <h3>UX / UI Designer</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde amet alias facilis iure iste sapiente quidem similique delectus, optio ratione.</p>
      </app-card>
  
      <app-card height="200px" class="coworker-card" img="Karim.jpg" title="Karim">
        <h3>App-Development Mentor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde amet alias facilis iure iste sapiente quidem similique delectus, optio ratione.</p>
      </app-card>
  
      <app-card height="200px" class="coworker-card" img="mitarbeiterin.png" title="Name">
        <h3>Stelle</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde amet alias facilis iure iste sapiente quidem similique delectus, optio ratione.</p>
      </app-card>
  
    </div>
  
  </app-section>