<app-section [graybg]="true" headline="Unser Team">
    <div class="space-around mobile-flex-column">
        <app-card height="300px" class="coworker-card" img="JunusErgin.jpg" title="Junus">
            <h3>Co-Founder & Tech-Coach</h3>
            <p>Nach seinem Master-Abschluss an der TU München hat Junus bei einem der erfolgreichsten Startups Münchens als Leitender Entwickler gearbeitet. Anschließend gründete er sein eigenes Unternehmen und verhalf damit bereits vielen Entwicklern zu
                einem Job - auch ohne Universitätsabschluss!</p>
        </app-card>

        <app-card height="300px" class="coworker-card" img="ManuelThaler.jpg" title="Manuel">
            <h3>Co-Founder & Karriere-Coach</h3>
            <p>Manuel ist ehemaliger CFO (Chief Financial Officer) eines Software-Unternehmens mit 45 Mitarbeitern. Er stellte unzählige Programmierer ein - vom Werkstudenten bis hin zum CTO (Technikchef). Manuel weiß genau, anhand welcher Kriterien sich
                eine Firma entscheidet, einen Programmierer einzustellen.</p>
        </app-card>
    </div>

    <div class="space-between">
        <app-card height="300px" class="coworker-card" img="mitarbeiterin.png" title="Jessica">
            <h3>Backoffice Managerin</h3>
            <p>Als Assistenz der Geschäftsführung im Backoffice ist Jessica für das Accounting & Vertragsmanagement verantwortlich. Parallel unterstützt Sie die Geschäftsführung bei diversen administrativen Aufgaben.</p>
        </app-card>

        <app-card height="300px" class="coworker-card" img="team/kay.jpg" title="Kartikay">
            <h3>Media Production Manager</h3>
            <p>In einem E-Learning Unternehmen werden täglich Lehrvideos gedreht. Als Experte für Videoproduktion mit jahrelanger Erfahrung sorgt Kartikay für die Produktion von hochwertigen Lehrmaterialien.</p>
        </app-card>

        <app-card height="300px" class="coworker-card" img="Pimpajee.jpg" title="Pimpajee">
            <h3>UX / UI Designer</h3>
            <p>Bei der Erstellung eines Portfolios ist neben einer sehr guten Programmierung auch ein exzellentes Design notwendig. Unsere Designerin unterstützt dich dabei, dass alle Projekte deines Portfolios absolut professionell aussehen.</p>
        </app-card>


    </div>

    <div class="space-between">


        <app-card height="300px" class="coworker-card" img="Karim.jpg" title="Karim">
            <h3>App-Development Mentor</h3>
            <p>Karim ist Experte für Android und iPhone Apps. Durch seine Expertise lernst du, deine Apps besonders nutzerfreundlich für das Smartphone zu gestalten.</p>
        </app-card>

        <app-card height="300px" class="coworker-card" img="team/mihai.jpeg" title="Mihai">
            <h3>JavaScript & Angular Coach</h3>
            <p>Mit 12 Jahren Programmiererfahrung hat Mihai bereits unzählige Apps und Webseiten erstellt. Sein Fokus liegt vor allem auf komplexen Business-Apps und gut durchdachtter Software-Architektur.</p>
        </app-card>

        <app-card height="300px" class="coworker-card" img="mitarbeiterin.png" title="Offene Stelle">
            <h3>Web Development Coach</h3>
            <p>Wir suchen ständig nach motivierten Mitarbeiter*innen, die unser Coaching-Team unterstützen. Wenn HTML, CSS und HTML keine Fremdwörter für dich sind freuen wir uns über deine Bewerbung!</p>
        </app-card>

    </div>

</app-section>