<div class="testimonial-container">
  <div class="testimonial-slide" *ngFor="let t of testimonials; let i = Index;" [style.transform]="'translateX(' + (0 - 100*currentImage) + '%)'">
    <p>
      {{ t.text }}
    </p>

    <b>{{ t.name }}</b>

    <img class="testimonial-picture" src="./assets/img/testimonials/{{ t.image }}.jpg">
  </div>
</div>

<div class="testimonial-switch-button testimonial-button-left" (click)="lastImage()">
  <img src="./assets/icons/arrow_right.png">
</div>

<div class="testimonial-switch-button testimonial-button-right" (click)="nextImage()">
  <img src="./assets/icons/arrow_right.png">
</div>
