<app-section [alignLeft]="true" [padding]="true" [graybg]="true" headline="Widerrufsbelehrung" [headSection]="true">

    <h3>Widerrufsrecht</h3>
    <p><b>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die
            Widerrufsfrist beginnt ab dem Tag des Vertragsabschlusses.</b> Des weiteren erlauben wir den Widerruf
        innerhalb der ersten vierzehn Tage nach Onboarding, falls das Onboarding nach Vertragsabschluss stattfindet. Um
        Ihr Widerrufsrecht auszuüben, müssen Sie uns</p>


    <p>
        Developer Akademie GmbH<br> Geschäftsführer: Junus Ergin & Manuel Thaler<br>
        Rosenheimer Str. 139<br> 81671 München <br>info@developerakademie.com

    </p>

    <p>mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief oder E-Mail) über Ihren Entschluss,
        diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden,
        das jedoch nicht vorgeschrieben ist.</p>

    <p>Zur Einhaltung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts
        vor Ablauf der Widerrufsfrist absenden.</p>



    <h3>Folgen des Widerrufs</h3>

    <p>
        Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben,
        einschließlich eventueller Lieferkosten unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag
        zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese
        Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben,
        es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser
        Rückzahlung Entgelte berechnet.
    </p>

    <h3 style="text-align: center;">Muster-Widerrufsformular</h3>

    <p>
        Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück an
    </p><br>

    <p>
        <b>Developer Akademie</b><br>
        Rosenheimer Str. 139<br>
        81671 München<br>
        E-Mail: info@developerakademie.com
    </p><br>

    <p>
        Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden Waren
        (*)/die Erbringung der folgenden Dienstleistung (*)
    </p><br>

    <p>
        Bestellt am (*)/erhalten am (*)
    </p><br>

    <p>
        Name des/der Verbraucher(s)
    </p><br>

    <p>
        Anschrift des/der Verbraucher(s)
    </p><br>

    <p>
        Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)
    </p><br>

    <p>
        Datum
    </p>

    <p>__________</p><br>

    <p>(*) Unzutreffendes streichen.</p><br>

    <p>
        Stand: 14.07.2022
    </p>


</app-section>