<app-section [alignLeft]="true" [padding]="true" [graybg]="true" headline="Widerrufsbelehrung" [headSection]="true">

    <p>Widerrufsbelehrung für Verbraucher nach § 13 BGB</p>

    <h3>Widerrufsrecht</h3>
    <p><b>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die
      Widerrufsfrist beginnt ab dem Tag des Vertragsabschlusses.</b> Um Ihr Widerrufsrecht auszuüben, müssen Sie uns</p>


    <p>
        Junus Ergin & Manuel Thaler GbR<br> vertretungsberechtigte Gesellschafter: Junus Ergin & Manuel Thaler<br> Lilienstraße 3<br> 81669 München
    </p>

    <p>mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. </p>

    <p>Zur Einhaltung der Widerrufsfrist reicht es aus, die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist abzusenden. </p>



    <h3>Folgen des Widerrufs</h3>

    <p>
        Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich eventueller Lieferkosten unverzüglich und spätestens binnen 14 Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf
        dieses Vertrags bei uns eingegangen ist.</p>

    <p>Die Rückerstattung Ihrer Zahlung erfolgt über dasselbe Zahlungsmittel, das für die ursprüngliche Transaktion verwendet wurde. Wird ausdrücklich ein anderer Weg für die Rückerstattung vereinbart, so erfolgt die Rückerstattung ausnahmsweise über diesen
        vereinbarten Weg. Die Rückerstattung erfolgt in jedem Fall ohne die Berechnung zusätzlicher Entgelte für den Kunden. </p>

    <p>Falls Sie als Kunde verlangt haben, dass unsere vereinbarten Dienstleistungen ganz oder teilweise während der Widerrufsfrist beginnen sollen, so sind von Ihnen die bereits erhaltenen Leistungen anteilig zu bezahlen. Der zu zahlende Betrag richtet
        sich nach dem Anteil der bis zu dem Zeitpunkt, zu dem Sie uns von der Ausübung des Widerrufsrechtes unterrichtet haben, bereits erbrachte Leistungen im Anteil des Gesamtumfanges der insgesamt im Vertrag vereinbarten Dienstleistungen. </p>


</app-section>