<app-section [alignLeft]="true" [padding]="true" [graybg]="true" headline="Impressum" [headSection]="true">

    <p>
        Junus Ergin & Manuel Thaler GbR<br> Lilienstraße 3<br> 81669 München
    </p>

    <p>
        vertretungsberechtigte Gesellschafter: Junus Ergin & Manuel Thaler
    </p>

    <p>
        Telefon: +49 / 171 311 06 89


    </p>


    <p>
        E-Mail: info@developerakademie.com
    </p>



    <h3 class="margin-top-120">
        Credits
    </h3>
    <p>

        Die verwendeten Icons stammen u. A. von <a href="https://icons8.de">https://icons8.de</a> und sind mit der Lizenz <a href="https://creativecommons.org/licenses/by-nd/3.0/">Creative Commons Attribution-NoDervis 3.0 Unported</a> lizensiert.
    </p>
</app-section>