<app-section [alignLeft]="true" [padding]="true" [graybg]="true" headline="Impressum" [headSection]="true">

    <p class="bodyText">
        Junus Ergin & Manuel Thaler GbR<br> Lilienstraße 3<br> 81669 München
    </p>

    <p class="bodyText">
        vertretungsberechtigte Gesellschafter: Junus Ergin & Manuel Thaler
    </p>

    <p class="bodyText">
        Telefon: +49 / 171 311 06 89


    </p>


    <p class="bodyText">
        E-Mail: info@developerakademie.com
    </p>

    <p class="bodyText">
        Umsatzsteuer-Id: DE330447901
    </p>

    <p class="bodyText margin-top-120">
        Zugelassener Träger nach dem Recht der Arbeitsförderung. Zugelassen durch die fachkundige Stelle der <b>TÜV Rheinland Cert GmbH</b> – von der Deutschen Akkreditierungsstelle (DAkkS) akkreditierte Zertifizierungsstelle 
        (Zertifikatsnummer: 01 600 2000730 <a href="https://www.certipedia.com/certificates/01+600+2000730" target="_blank">https://www.certipedia.com/certificates/01+600+2000730</a>) 
    </p>


    <h3 class="titleText--1 margin-top-120">
        Credits
    </h3>
    <p class="bodyText">

        Die verwendeten Icons stammen u. A. von <a href="https://icons8.de">https://icons8.de</a> und sind mit der Lizenz <a href="https://creativecommons.org/licenses/by-nd/3.0/">Creative Commons Attribution-NoDervis 3.0 Unported</a> lizensiert.
    </p>
</app-section>