<app-section [alignLeft]="true" [padding]="true" [graybg]="true" headline="Impressum" [headSection]="true">

    <p>
        Developer Akademie GmbH<br> Lilienstraße 3<br> 81669 München
    </p>

    <p>
        HRB 269921, AG München
    </p>

    <p>
        Geschäftsführung: Manuel Thaler, Junus Ergin
    </p>

    <p>
        E-Mail: info@developerakademie.com
    </p>

    <p>
        USt-Idnr: DE348348674
    </p>

    <p class="margin-top-120">
        <!-- TODO: SHOW AGAIN WHEN ALLOWED / ARBEITSAMT -->
        <!-- Zugelassener Träger nach dem Recht der Arbeitsförderung. Zugelassen durch die fachkundige Stelle der <b>TÜV
            Rheinland Cert GmbH</b> – von der Deutschen Akkreditierungsstelle (DAkkS) akkreditierte
        Zertifizierungsstelle
        (Zertifikatsnummer: 01 600 2000730 <a href="https://www.certipedia.com/certificates/01+600+2000730"
            target="_blank">https://www.certipedia.com/certificates/01+600+2000730</a>) -->
    </p>


    <h3 class="margin-top-120">
        Credits
    </h3>
    <p>

        Die verwendeten Icons stammen u. A. von <a href="https://icons8.de">https://icons8.de</a> und sind mit der Lizenz <a href="https://creativecommons.org/licenses/by-nd/3.0/">Creative Commons Attribution-NoDervis 3.0
            Unported</a> lizensiert.
    </p>
</app-section>