<div class="padding-left-right">
  <div>
    <b>Stellenausschreibungen > {{ job['title'] }} · {{ job['fulltime'] }} (m/w/d)</b>
  </div>


  <div class="job-detail">
    <div class="job-left">
      <p>
        Die Developer Akademie ist eine <b>Online-Programmierakademie</b>, die Quereinsteiger binnen 6 Monaten zu <b>gefragten Programmierern</b> ausbildet. Wir betreuen unsere Kunden von der ersten Zeile Code bis zum Einstieg <b>in den ersten IT-Job</b>. Als Startup suchen wir nach motivierten Menschen, die uns dabei helfen unsere Mission zu erfüllen.      </p>
      
      <p>{{ job['description'] }}</p>

      <h2>Das solltest du mitbringen</h2>
      <ul *ngIf="job['requirements']">
        <li *ngFor="let req of job.requirements">{{ req }}</li>
      </ul>


      <h2 *ngIf="job['optional_requirements'].length > 0">Optional</h2>
      <ul *ngIf="job['optional_requirements']">
        <li *ngFor="let req of job.optional_requirements">{{ req }}</li>
      </ul>


      <h2>Das machst du an einem normalen Tag</h2>
      <ul *ngIf="job['normal_day']">
        <li *ngFor="let req of job.normal_day">{{ req }}</li>
      </ul>
    </div>
    <div class="job-right">
      <button (click)="apply()" class="btn-outline">Jetzt bewerben</button>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.921434521229!2d11.58563011515113!3d48.13103847922287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ddf7d1db02a99%3A0x9435806ea0dcc0b4!2sLilienstra%C3%9Fe%203-5%2C%2081669%20M%C3%BCnchen!5e0!3m2!1sde!2sde!4v1602509958510!5m2!1sde!2sde"
        height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>
