.job-detail {
  display: flex;

  h2 {
      padding-bottom: 0;
  }

}

.job-left {
  width: 70%;
}

.job-right {
  width: 30%;
  padding-left: 64px;

  button {
      width: 100%;
      margin-bottom: 32px;
  }

  iframe {
      width: 100%;
  }
}

ul{
  list-style: unset;
  margin-left: 20px;
  // padding-inline-start: 40px;
}

li{
  font-family: inherit;
  color: unset;
  font-size: unset;
}

h3{
  margin-top: 60px;
}
