$verySmallScreen: 500px;
$smallScreen: 900px;
$bigScreen: 1300px;

$primaryColor_bright: #FD7065;
$primaryColor_bright--hover: #fd8178;
$primaryColor_dim: #192D35;

$secondColor_bright: #FFEFD5;

$textColor_bright: #757575;
$textColor_dim: #000000;

$fontMontserrat:  'Montserrat', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;