html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  //color: #4d4c4c;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

header img {
  width: 200px;
}

a {
  text-decoration: none !important;
}

nav a {
  color: black;
  text-decoration: none;
  margin-left: 32px;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  margin-bottom: 16px;
  color: rgb(89, 95, 104);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.padding-left-right {
  padding-left: 280px;
  padding-right: 280px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-top-120 {
  margin-top: 120px !important;
}

.width-60 {
  width: 60%;
}

.btn {
  background-color: #fd7065;
  padding: 12px 32px;
  border-radius: 6px;
  color: white !important;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.btn:hover {
  background-color: #fc8880;
}



.btn-outline {
  border: 2px solid #fd7065;
  border-radius: 4px;
  padding: 8px 16px;
  color: #fd7065;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;

  &:hover {
    background-color: rgba(#fd7065, 0.1);

  }
}

.text-red {
  color: #fd7065;
}

.text-gray {
  color: rgb(89, 95, 104);
}

.atf {
  display: table;
}

.atf div {
  width: 50%;
}


/* Neu */
h1 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 38px;
}

h2 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
}

h3 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.subtitle {
  font-size: 22px;
}

.bg-gray {
  background-color: #fffcfc;
}


.hidden {
  display: none !important;
}

.padding-bottom-top {
  padding-bottom: 32px !important;
  padding-top: 32px !important;
}


.roboto-medium {
  font-family: 'Roboto', sans-serif;
}

.v-center {
  display: flex;
  align-items: center;
}

.h-center {
  display: flex !important;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}



.columns-2 {
  display: flex;
  justify-content: space-between;

  div {
    width: 50%;
  }

  img {
    max-width: 80%;
  }
}

.line-height-32 {
  line-height: 32px;
}

.highlight-red {
  color: white;
  background-color: #fd7065;
}

.hide-desktop {
  display: none;
}

@media(max-width: 1800px) {
  .padding-left-right {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media(max-width: 1600px) {
  .padding-left-right {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media(max-width: 1400px) {
  .padding-left-right {
    padding-left: 100px;
    padding-right: 100px;
  }
}


@media(max-width: 850px) {
  .padding-left-right {
    padding-left: 50px;
    padding-right: 50px;
  }

  .space-between {
    flex-direction: column;
    align-items: center;
  }

  .hide-mobile {
    display: none !important;
  }

  .columns-2 {
    width: 100%;

    div {
      width: 100%;
      ;
    }
  }

  .hide-desktop {
    display: block;
  }


}
