@import './constants';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: black;
    // @media (max-width: $smallScreen) {
    //     text-align: center;
    // }
}

a {
    text-decoration: none !important;
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

li {
    margin-bottom: 16px;
    color: rgb(89, 95, 104);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Backgrounds */
.bg-dark {
    background-color: #4c535e;
}

.bg-gray {
    background-color: #fffcfc;
}

/* Containers */

.container {
    //top-bottom left-right
    padding: 55px 64px;

    @media (min-width: $smallScreen) {
        .card-body{
            padding: 0 80px;
        }
    }

    @media (min-width: $bigScreen) {
        padding: 55px 128px;
        .card-body{
            padding: 0 180px;
        }
    }

    @media (min-width: 1400px) {
        padding: 55px 192px;
    }

    @media (min-width: 1600px) {
        padding: 55px 256px;
    }

    @media (min-width: 1800px) {
        padding: 55px 320px;
    }

    @media (max-width: $smallScreen) {
        padding: 16px 20px;
    }

    @media (max-width: $verySmallScreen) {
        padding: 6px 6px;
    }
}

/* Button */
.btn {
    background-color: $primaryColor_bright;
    color: white !important;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.22);
    border-radius: 6px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.13);
    padding: 16px 32px;
    font-weight: 700 !important;
    &:hover {
        background-color: $primaryColor_bright--hover;
        text-decoration: none !important;
    }
}

.btn-outline {
    border: 2px solid $primaryColor_bright;
    border-radius: 4px;
    padding: 8px 16px;
    color: $primaryColor_bright !important;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700 !important;
    &:hover {
        background-color: rgba($primaryColor_bright, 0.1);
    }
}

/* Logos and Images */
.logo {
    min-width: 15mm;
}

/* Flex */
.v-center {
    display: flex;
    align-items: center;
}

.h-center {
    display: flex !important;
    justify-content: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

/* Padding */

.padding-left-right {
    padding-left: 320px;
    padding-right: 320px;
}

.padding-bottom-top {
    padding-bottom: 32px !important;
    padding-top: 32px !important;
}

.pr-m {
    padding-right: 16px;
}
.pr-xl {
    padding-right: 80px;
}

.pl-m {
    padding-left: 16px;
}

/* Margin */
.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-top-16 {
    margin-top: 16px !important;
}

.margin-top-32 {
    margin-top: 32px !important;
}

.margin-top-120 {
    margin-top: 120px !important;
}

.mt-custom {
    margin-top: 55px !important;
}

.mb-custom {
    margin-bottom: 55px !important;
}

.mt-l {
    margin-top: 55px !important;
}

.mt-m {
    margin-top: 32px !important;
}

.mt-s {
    margin-top: 16px !important;
}

.mb-s {
    margin-bottom: 16px !important;
}

.ml-a {
    margin-left: auto !important;
}

.mt-a {
    margin-top: auto !important;
}

/* Text */
.letter-spacing-1 {
    letter-spacing: 1px;
}

.text-left {
    text-align: start !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: end !important;
}

.text-white {
    color: white !important;
}

.captionText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: $textColor_bright;
    @media (max-width: $verySmallScreen) {
        font-size: 12px;
    }
}

.bodyText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $textColor_dim;
    @media (max-width: $verySmallScreen) {
        font-size: 14px;
    }
}

.menuText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $textColor_dim;
    @media (max-width: $verySmallScreen) {
        font-size: 14px;
    }
}

.headLineText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $textColor_bright;
    @media (max-width: $verySmallScreen) {
        font-size: 16px;
    }
}

.subtitleText {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: $primaryColor_bright;
    @media (max-width: $verySmallScreen) {
        font-size: 18px;
    }
}

.titleText--2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: $primaryColor_bright;
    @media (max-width: $verySmallScreen) {
        font-size: 22px;
    }
}

.titleText--1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: $textColor_dim;
    @media (max-width: $verySmallScreen) {
        font-size: 28px;
    }
}

.headText {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: $textColor_dim;
    b {
        color: $primaryColor_bright;
        font-weight: 700;
    }
    @media (max-width: $verySmallScreen) {
        font-size: 30px;
    }
}

/* Custom Table */
.atf {
    display: table;
}

.atf div {
    width: 50%;
}

/* Shapes */

/* Screen */

.width-60 {
    width: 60%;
}

.hidden {
    display: none !important;
}

.columns-2 {
    display: flex;
    justify-content: space-between;
    div {
        width: 50%;
    }
    img {
        max-width: 70%;
    }
}

.line-height-32 {
    line-height: 32px;
}

.height-280 {
    height: 280px;
}

.highlight-red {
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    background-color: $primaryColor_bright;
}

.remove-paragraph-margin {
    margin-block-start: 0;
    margin-block-end: 0;
}

.hide-desktop {
    display: none !important;
}

.li {
    color: #595f68;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500
}

/* Text */
.captionText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: $textColor_bright;
    // @media (max-width: $verySmallScreen) {
    //     font-size: 10px;
    // }
}

.bodyText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $textColor_dim;
    // @media (max-width: $verySmallScreen) {
    //     font-size: 12px;
    // }
}

.menuText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $textColor_dim;
    // @media (max-width: $verySmallScreen) {
    //     font-size: 12px;
    // }
}

.headLineText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $textColor_bright;
    // @media (max-width: $verySmallScreen) {
    //     font-size: 16px;
    // }
}

.subtitleText {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: $primaryColor_bright;
    // @media (max-width: $verySmallScreen) {
    //     font-size: 18px;
    // }
}

.titleText--2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: $primaryColor_bright;
    // @media (max-width: $verySmallScreen) {
    //     font-size: 20px;
    // }
}

.titleText--1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: $textColor_dim;
    // @media (max-width: $verySmallScreen) {
    //     font-size: 24px;
    // }
}

.headText {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: $textColor_dim;
    b {
        color: $primaryColor_bright;
        font-weight: 700;
    }
    // @media (max-width: $verySmallScreen) {
    //     font-size: 30px;
    // }
}

/* Media Queries */

@media(max-width: 1800px) {
    .padding-left-right {
        padding-left: 230px;
        padding-right: 230px;
    }
}

@media(max-width: 1600px) {
    .padding-left-right {
        padding-left: 170px;
        padding-right: 170px;
    }
}

@media(max-width: 1400px) {
    // h1 {
    //     font-size: 34px;
    // }
    .padding-left-right {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media(max-width: $smallScreen) {
    .padding-left-right {
        padding-left: 50px;
        padding-right: 50px;
    }
    .space-between {
        flex-direction: column;
        align-items: center;
    }
    .hide-mobile {
        display: none !important;
    }
    .columns-2 {
        width: 100%;
        div {
            width: 100%;
            ;
        }
    }

    .hide-desktop {
        display: block !important;
    }

    .center-mobile {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 640px){
    .tpw-carousel-light iframe{
        height: 300px !important;
    }
}