<app-section [alignLeft]="true" [padding]="true" [graybg]="true" headline="Allgemeine Geschäftsbedingungen (AGBs)" [headSection]="true">

    <b> der Junus Ergin & Manuel Thaler GbR, Lilienstraße 3, 81669 München</b>


    <h3>§1 Vertragsparteien & Geltungsbereich</h3>
    <p>
        (1) Zwischen Ihnen (nachfolgend “Kunde”) und uns, Junus Ergin & Manuel Thaler GbR, Lilienstraße 3, 81669 München (oder Rechtsnachfolger, nachfolgend als “Developer Akademie” oder “wir”/”uns” bezeichnet), wird die ausschließliche Geltung dieser Allgemeinen
        Geschäftsbedingungen (AGB) vereinbart.
    </p>


    <p>(2) Sie gelten dann als “Kunde”, sofern Sie unsere Dienstleistungen in Anspruch nehmen.</p>
    <p>(3) Wir gestatten keine Inanspruchnahme unserer Angebote ohne vorherige Anerkennung unserer AGB.</p>
    <p>(4) Abweichende Bedingungen des Kunden werden von uns nicht akzeptiert. Dies gilt auch in dem Falle, wenn wir der Einbeziehung nicht ausdrücklich widersprechen.</p>




    <h3>§2 Dienstleistungen & Vertragsgegenstand</h3>
    <p>(1) Wir erbringen für unseren Kunden Coaching- und Trainingsdienstleistungen im Bereich IT, Programmieren Lernen und Karriere. Zusätzlich leisten wir für Kunden nach Vereinbarung die Vermittlung an Unternehmen. Alle Dienstleistungen richten sich deshalb
        nach der Buchung des Kunden und seiner Leistungsbeschreibung und dem konkreten Angebot.

    </p>
    <p>Soweit nicht ausdrücklich schriftlich abweichend vereinbart, schuldet die Developer Akademie nicht die Erbringung eines Werks. Insbesondere können Erfolge, zum Beispiel der Ausbildungsmaßnahmen, nicht garantiert werden. Der Kunde akzeptiert, dass
        ein diesbezüglicher Erfolg von Developer Akademie nicht geschuldet wird.

    </p>
    <p>(3) Grundsätzlich besteht kein Anspruch auf Erzielung eines konkreten Erfolges. Wird allerdings eine gesonderte Vergütung für das Erreichen eines bestimmten Erfolgs, zum Beispiel der Vermittlung einer Anstellung oder eines freiberuflichen Auftrages,
        vereinbart, so erfolgt diese als Bonuszahlung.

    </p>
    <p>(4) Der Kunde ist im Rahmen des Vertragsverhältnisses zur Mitwirkung verpflichtet. Die erforderlichen Mitwirkungshandlungen sind auf erstes Anfordern unverzüglich zu erbringen.
    </p>

    <p>
        (5) Die Inhalte eines mit Developer Akademie eingegangen Dienstleistungsvertrags unterstehen dem Leistungsbestimmungsrecht nach § 315 BGB.
    </p>


    <h3>§3 Vertragsschluss & Vertragssprache</h3>
    <p>(1) Die Präsentation und Bewerbung unserer Dienstleistungen, zum Beispiel auf den Webseiten von Developer Akademie, Broschüren, Briefen oder innerhalb von Werbeanzeigen (zum Beispiel auf Google, Youtube, auf Werbebannern oder Facebook), stellt kein
        bindendes Angebot zum Abschluss eines Vertrags mit uns dar. </p>

    <p>(2) Der Vertragsschluss zwischen uns und dem Kunden kann schriftlich oder fernmündlich (Telefonat, Videotelefonat, etc.) erfolgen. Sofern der Vertragsschluss fernmündlich erfolgt, hat der Kunde (vorbehaltlich anderslautender Vereinbarung) keinen Anspruch
        darauf, die Vertragsinhalte noch einmal in schriftlicher Form von uns zu erhalten. </p>

    <p>(3) Fernmündliche Verträge werden zwischen Developer Akademie und dem Kunden durch übereinstimmende Willenserklärungen abgeschlossen. Der Kunde willigt dafür vorab ein, dass wir das Telefonat und/oder Videotelefonat mit ihm zu Beweis- und Dokumentationszwecken
        aufzeichnen. Im Falle eines fernmündlichen Vertragsschlusses, können Sie Ihre Angaben uns gegenüber jederzeit durch eine einfache Mitteilung an ihren Gesprächspartner korrigieren. </p>

    <p>(4) Wir bestätigen den Zugang Ihrer über unsere Kontaktformulare / Webseiten / Videochat / Brief abgegebenen Aufträge und Bestellungen unverzüglich per E-Mail. Einer derartige Bestätigungs-E-Mail stellt noch keine verbindliche Annahme der Bestellung
        dar, es sei denn, darin wird neben der Bestätigung des Zugangs zugleich die Annahme erklärt. </p>

    <p>(5) Die Vertragssprache ist deutsch.</p>


    <h3>§4 Preise und Leistungserbringung</h3>
    <p>(1) Sämtliche Preisangaben von uns stellen grundsätzlich Nettopreise dar und verstehen sich zuzüglich der gesetzlichen Umsatzsteuer.</p>
    <p>(2) Die Leistungserbringung durch Developer Akademie erfolgt zu denen im jeweiligen Vertrag mit dem Kunden festgelegten Zeitpunkten.</p>
    <p>(3) Falls nicht anderweitig mit Developer Akademie vereinbart, ist der Kunde zur Vorleistung verpflichtet. Die vereinbarte Vergütung ist unmittelbar mit Vertragsschluss fällig.</p>



    <h3>§5 Vertragslaufzeiten und ordentliche Kündigung </h3>
    <p>(1) Der Vertrag wird für die jeweils im Vertrag konkret vereinbarte Laufzeit fest geschlossen.</p>
    <p>(2) Vorzeitige Kündigungen durch den Kunden innerhalb des Vertragszeitraumes werden ausgeschlossen. Das Recht zur fristlosen Kündigung bei Vorliegen eines wichtigen Grundes bleibt unberührt.</p>


    <h3>§6a Außerordentliche Kündigung</h3>

    <p>(1) Das Recht zur fristlosen Kündigung bei Vorliegen eines wichtigen Grundes bleibt unberührt.</p>

    <p>(2) Im Fall der vorzeitigen Kündigung des Kunden aus wichtigem Grund nach §6 (2) bleibt der Vergütungsanspruch von Developer Akademie unberührt. Dem Kunden bleibt der Nachweis vorbehalten, dass Developer Akademie kein oder ein wesentlich geringerer
        Schaden entstanden ist.</p>

    <h3>§6b Verzug</h3>
    <p>(1) Fristen für die Leistungserbringung durch uns beginnen dann, wenn der Rechnungsbetrag bei uns vollständig eingegangen ist und vereinbarungsgemäß die für die Erbringung der Dienstleistungen notwendigen Informationen bei uns vollständig vorliegen
        und die notwendigen Mitwirkungshandlungen komplett erbracht sind.</p>
    <P>(2) Ist der Kunde mit fälligen Zahlungen im Verzug, behält sich Developer Akademie das Recht vor, weitere Leistungen bis zum Ausgleich des offenen Betrages nicht auszuführen.</P>
    <p>(3) Gerät der Kunde im Fall der Ratenzahlung mit einer fälligen Rate bzw. Forderung gegenüber uns in Verzug, sind wir berechtigt, den Gesamtbetrag sofort zur Zahlung fällig zu stellen.</p>




    <h3>§7 Leistungsanspruch des Kunden & Vertragserfüllung </h3>
    <p>(1) Wir führen die vereinbarten Dienstleistungen gemäß Angebot mit der erforderlichen Sorgfalt durch. Wir sind berechtigt, uns dazu der Hilfe Dritter / Dienstleister zu bedienen.</p>
    <p>(2) Es besteht Einigkeit darüber, dass Developer Akademie dem Kunden, mit Ausnahme anderslautender und explizit schriftlicher Vereinbarungen, die Erbringung von Dienstleistungen und nicht die Herstellung eines Werks schuldet.
    </p>
    <p>(3) Für den Fall, dass wir aufgrund von Hinderungsgründen, die auf das Verhalten des Kunden zurückgeführt werden können, daran gehindert wird, die vereinbarten Dienstleistungen zu erbringen, so verbleibt der Vergütungsanspruch von Developer Akademie
        unberührt.
    </p>




    <h3>§8 Nutzungsrechte & gegenseitige Rücksichtnahme</h3>
    <p>(1) Gibt der Kunde im Internet und sozialen Medien Bewertungen und Kommentare ab, so ist er verpflichtet, dabei auch auf unsere Interessen Rücksicht zu nehmen. Dabei sind vor allem Schmähkritiken über uns oder die Verbreitung oder Veröffentlichung
        unwahrer Tatsachenbehauptungen über die Developer Akademie, das Programm sowie unsere Mitarbeiter zu unterlassen.
    </p>


    <h3>§9 Akzeptierte Zahlungsmethoden & Zahlungsbedingungen</h3>
    <p>(1) Die Vergütung unserer Dienste ist grundsätzlich bei Abschluss des Vertrags in voller Höhe fällig. Davon ausgenommen sind Verträge, in denen explizit andere Zahlungsmodalitäten, zum Beispiel eine monatliche Bezahlung oder eine Ratenzahlung, vereinbart
        werden.
    </p>
    <p>(2) Der Kunde kann den geschuldeten Betrag an Developer Akademie nach Wahl über:</p>
    <ul>
        <li>- die Erteilung einer (SEPA-)Einzugsermächtigung,</li>
        <li>- die Überweisung auf eines unserer angegebenen Konten oder</li>
        <li>- per Kreditkarte bezahlen.</li>
    </ul>

    <p>Im Fall einer gegenüber uns erteilten (SEPA-)Einzugsermächtigung gilt diese bis auf Widerruf auch für weitere Bestellungen. Bei Zahlung per Kreditkarte oder durch (SEPA-) Einzug wird das Konto des Kunden frühestens zu dem in §10 (1) geregelten Zeitpunkt
        belastet.
    </p>

    <p>(3) Die (SEPA-)Einzugsermächtigung kann durch eine E-Mail durch den Kunden an uns direkt erklärt werden. Dafür kann ein Formvorschlag von uns verwendet werden. </p>
    <p>(4) Der Kunde hat ein Recht auf den Erhalt einer Rechnung über die bei Developer Akademie gebuchten Leistungen per E-Mail. Auf expliziten Wunsch lassen wir dem Kunden eine Rechnung postalisch zukommen.</p>




    <h3>§10 Gewährleistung & Widerruf </h3>
    <p>(1) Die Developer Akademie haftet für Sach- oder Rechtsmängel nach den geltenden gesetzlichen Vorschriften, insbesondere §§ 434 ff. BGB. Die gesetzliche Verjährungsfrist für Mängelansprüche beträgt zwei Jahre und beginnt mit der Übergabe der Ware.
    </p>
    <p>(2) Der Kunde ist im Rahmen seiner Mitwirkungspflichten verpflichtet, uns ausschließlich derartiges Bild-/Ton-/Text-/Videomaterial zur Verfügung zu stellen, das frei von Rechten Dritter ist. Der Kunde stellt uns insoweit von etwaigen Ansprüchen Dritter
        wegen der Verletzung geistigen Eigentums vollständig frei.</p>
    <p>(3) Der Kunde hat das gesetzliche Recht auf Widerruf seines Vertrages nach §355 BGB. Die Widerrufsfrist beträgt zwei Wochen ab Vertragsschluss und entspricht der gesetzlichen Widerrufsfrist nach §355 (2) BGB.</p>

    <h3>§11 Datenschutz, Einwilligung in Datenverarbeitung und Kontaktaufnahme </h3>
    <p>(1) Developer Akademie achtet auf den Schutz personenbezogener Daten. Aus diesem Grund informieren wir separat in unserer Datenschutzerklärung über die Erhebung, Speicherung und Verarbeitung personenbezogener Daten sowie über die diesbezüglichen Rechte
        der Betroffenen.</p>
    <p>(2) Der Kunde bestätigt, die Datenschutzerklärung von Developer Akademie vor Inanspruchnahme der Dienste von Developer Akademie zur Kenntnis genommen zu haben und damit einverstanden zu sein.</p>

    <h3>§12 Anwendbares Recht & Gerichtsstand </h3>
    <p>(1) Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts. </p>
    <p>(2) Ausschließlich zuständig für alle sich aus dem Vertragsverhältnis ergebenden Streitigkeiten zwischen uns und dem Kunden sind die Gerichte in München. Developer Akademie hält sich das Recht vor, Ansprüche gegen den Kunden auch am allgemeinen Gerichtsstand
        des Kunden zu erheben.</p>
    <p>(3) Die Vertragssprache ist deutsch.

    </p>
    <br>
    <br>
    <br>
    <br>

    <p>
        AGB-Stand: 20.01.2021
    </p>



</app-section>