:host {
    min-height: 200px;
    display: flex;
    background-size: cover;
    background-image: url("./../../assets/img/CTA_yellow.png");
    .columns-2 {
        display: flex;
        align-items: center;
        padding-top: 100px;
    }
    @media (max-width: 800px) {
        background-color: #F7F9FC;
    }
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.subtitle {
    padding-bottom: 16px;
    @media(max-width: 850px) {
        font-size: 16px;
    }
}