@import './../../constants';

:host {
    min-height: 200px;
    display: flex;
    background-size: cover;
    background-image: url("./../../assets/img/CTA_yellow.png");
    .columns-2 {
        display: flex;
        align-items: center;
        padding-top: 100px;
    }
    @media (max-width: $smallScreen) {
        background-color: #F7F9FC;
    }
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.subtitle {
    padding-bottom: 16px;
    font-weight: 400 !important;
    color: black;
}

@media(max-width: $smallScreen) {
    .prefooter {
        flex-direction: column;
    }
    .flex-end {
        justify-content: flex-start !important;
        margin-bottom: 32px;
    }
}