.atf {
  position: relative;
  display: block;

  img {
    position: absolute;
    right: 15vw;
    width: 40vw;
    top: 0;
    max-width: 500px;
  }

  p {
    max-width: 40%;

    @media(max-width: 850px) {
      max-width: 100%;
    }
  }
}
