.atf {
  position: relative;
  display: block;

  min-height: 340px;

  img {
    position: absolute;
    right: 10vw;
    width: 40vw;
    top: 0;
    max-width: 500px;
  }

  p {
    max-width: 40%;

    @media(max-width: 850px) {
      max-width: 100%;
    }
  }

  @media(max-width: 850px){
    min-height: unset;
  }
}
